#home {
  padding-left: 2em;
  padding-top: 1em;
}

#home img {
  float: left;
}
#home h1 {
  text-align: center;
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-size: 3em;
  color: white;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  margin-left: 10em;
  margin-right: 10em;
}

html {
  background: url('../images/question-1.jpg');
  background-size: cover;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

#question-1 {
  display: none;
}

#question-2 {
  display: none;
}

#question-3 {
  display: none;
}

#question-4 {
  display: none;
}

#question-5 {
  display: none;
}

div{
  float: left;
  padding-left: 20em;
}

div h2,p, form {
  color: white;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
}

input[type=submit] {
  padding:5px 15px;
  background:#ccc;
  border:0 none;
  border-radius: 1em;
  color: black;
}

ul {
  list-style: none;
  float: right;
  padding-right: 10em;
  opacity: 0.8;
}

img {
  border:2px solid slategray;
  border-radius: 500px;
}

aside {
  display: none;
  padding-left: 30em;
}

button {
  padding:5px 15px;
  background:#ccc;
  border:0 none;
  border-radius: 1em;
  color: black;
}
